.result {
  display: flex;
  align-items: center;
  justify-content: center;
}


.result__list {
  justify-content: center;
  flex: 1;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  list-style-type: none;
  font-size: medium;
  padding-right: 10px;
  align-items: center;
}



.condition {
  color: red;
  width: 30%;
}


