* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 75%;
  margin-top: 20px;
}

.city-name {
  width: 100%;
  justify-content: center;
  color: rgb(49, 46, 46);
  display: flex;
  padding: 20px;
  font-size: x-large;
}
